.addOffer form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addOffer form input,textarea,Controller{
    width: 75%;
    margin-bottom:10px;
}